@model Eleflex.Security.Web.Security.Permissions.DetailsViewModel
@{
    ViewBag.Title = "Permission Detail";
}
<h1>Permission Detail</h1>
<div class="container">
    <fieldset>
        <legend class="sr-only sr-only-focusable">Permission Form</legend>
        @using (Html.BeginForm("Details", "Permissions", FormMethod.Post, new { id = "UsersDetailsForm", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(x => x.PermissionKey)
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(x => x.Name, "Name:")<span class="required">*</span>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description, "Description:")
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = "3" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Inactive, "Inactive:")
                @Html.DropDownListFor(x => x.Inactive, Model.InactiveSelectItems, new { @class = "form-control eleflexselectrequired", data_placeholder = "Select an Item...", Style = "width: 150px;" })
                @Html.ValidationMessageFor(x => x.Inactive)
            </div>
            <div class="form-group">
                <button class="btn btn-primary active" type="submit">Save</button>
                <button class="btn btn-default active" type="button" onclick="window.location.href('@Url.Action("List", "Permissions")')">Cancel</button>
            </div>
        }
    </fieldset>
</div>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>